In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'C:\Users\Gouse MG\Desktop\Machine Learning\final3.csv')

C:\Users\Gouse MG\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (130,131,132,133,134,143,145,150,151,152) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.shape

(128574, 191)

In [4]:
data=df[['masked id','performance pay score','volatility index','leave quota', 'eps', 'esi',
       'career score', 'alignment score', 'recognition score',
       'empowerment score', 'strive score', 'rise score', 'crusade score',
       'simplicity score', 'collaboration score', 'training (mcares) score',
       'role change in 3 years', ' award counts in 3 years','reporting level','leave availed','generation','rating change','ctc til app'
        ,'m&m tenure','talent category','ctc marketmedian','scaled travel', 'award count_x', 'ctc hike',
       'current rating score', 'previous rating score','budget utilization percentage','time since last promotion','timeinlevel app','ctc internal median','train cnt attended beh',
       'train cnt attended fun', 'train cnt beh fun','attrreportees new','ind','work home location','fresher flag','attrition','year']]

In [5]:
data1=data[data['year'].isin([2018,2019,2020])]

In [6]:
data1

,masked id,performance pay score,volatility index,leave quota,eps,esi,career score,alignment score,recognition score,empowerment score,...,ctc internal median,train cnt attended beh,train cnt attended fun,train cnt beh fun,attrreportees new,ind,work home location,fresher flag,attrition,year
0,oyh1343205211hwl,143.88,0.02,0.25,NaN,NaN,NaN,NaN,NaN,NaN,...,0.88,0.0,0.0,0.0,0.0,1.0,NaN,0.0,NaN,2020
2,hvz9469205221evk,111.23,0.10,0.00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.98,0.0,0.0,0.0,0.0,1.0,NaN,0.0,NaN,2019
3,hvz9469205221evk,101.57,0.26,0.04,NaN,NaN,NaN,NaN,NaN,NaN,...,0.96,0.0,0.0,0.0,0.0,1.0,NaN,0.0,NaN,2020
5,aff1092253544hkf,128.32,0.00,0.26,8.0,5.0,5.0,3.666667,3.666667,3.666667,...,1.26,0.0,7.0,7.0,0.0,1.0,different,0.0,NaN,2018
6,aff1092253544hkf,113.81,0.11,0.16,NaN,NaN,NaN,NaN,NaN,NaN,...,1.27,0.0,0.0,0.0,0.0,1.0,NaN,0.0,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128554,cot7754410001alz,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.0,0.0,0.0,0.0,1.0,NaN,0.0,NaN,2019
128556,tsi2962600021vpm,NaN,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.48,0.0,0.0,0.0,0.0,1.0,NaN,0.0,NaN,2020
128559,avd1207009182fyu,0.00,0.33,0.08,NaN,NaN,NaN,NaN,NaN,NaN,...,1.19,0.0,0.0,0.0,0.0,1.0,same,0.0,NaN,2019
128561,avd1207009182fyu,111.84,0.30,0.92,10.0,4.0,4.0,4.200000,4.000000,4.000000,...,0.84,2.0,0.0,2.0,1.0,1.0,same,0.0,NaN,2018
128572,kkj8920505711vot,0.00,0.25,0.09,NaN,NaN,NaN,NaN,NaN,NaN,...,0.79,0.0,0.0,0.0,0.0,1.0,NaN,0.0,NaN,2020

In [7]:
data1.isnull().sum()/data.shape[0]

masked id                        0.000000
performance pay score            0.060798
volatility index                 0.000000
leave quota                      0.047716
eps                              0.238734
esi                              0.238734
career score                     0.238734
alignment score                  0.238734
recognition score                0.238734
empowerment score                0.238734
strive score                     0.238734
rise score                       0.238734
crusade score                    0.238734
simplicity score                 0.238734
collaboration score              0.238734
training (mcares) score          0.238734
role change in 3 years           0.437413
 award counts in 3 years         0.171567
reporting level                  0.117730
leave availed                    0.081533
generation                       0.023146
rating change                    0.172305
ctc til app                      0.000000
m&m tenure                       0.000000
talent category                  0.338334
ctc marketmedian                 0.401512
scaled travel                    0.000000
award count_x                    0.236727
ctc hike                         0.083757
current rating score             0.132943
previous rating score            0.124318
budget utilization percentage    0.351090
time since last promotion        0.222106
timeinlevel app                  0.222183
ctc internal median              0.000000
train cnt attended beh           0.000000
train cnt attended fun           0.000000
train cnt beh fun                0.000000
attrreportees new                0.000000
ind                              0.000000
work home location               0.168028
fresher flag                     0.000000
attrition                        0.435975
year                             0.000000
dtype: float64

In [8]:
data1['ctc marketmedian']

0          NaN
2          NaN
3         1.13
5          NaN
6          NaN
          ...
128554     NaN
128556     NaN
128559    1.54
128561     NaN
128572     NaN
Name: ctc marketmedian, Length: 61836, dtype: float64

In [9]:
fresher=data1['fresher flag']
fresherdummies=pd.get_dummies(fresher)

In [10]:
data1['attrition']=data1['attrition'].fillna(0)
data1['performance pay score']=data1['performance pay score'].fillna(data1['performance pay score'].mean())
data1['leave quota']=data1['leave quota'].fillna(data1['leave quota'].mean())
data1['eps']=data1['eps'].fillna(data1['eps'].mean())
data1['esi']=data1['esi'].fillna(data1['esi'].mean())
data1['alignment score']=data1['alignment score'].fillna(data1['alignment score'].mean())
data1['career score']=data1['career score'].fillna(data1['career score'].mean())
data1['recognition score']=data1['recognition score'].fillna(data1['recognition score'].mean())
data1['empowerment score']=data1['empowerment score'].fillna(data1['empowerment score'].mean())
data1['strive score']=data1['strive score'].fillna(data1['strive score'].mean())
data1['rise score']=data1['rise score'].fillna(data1['rise score'].mean())
data1['crusade score']=data1['crusade score'].fillna(data1['crusade score'].mean())
data1['simplicity score']=data1['simplicity score'].fillna(data1['simplicity score'].mean())
data1['collaboration score']=data1['collaboration score'].fillna(data1['collaboration score'].mean())
data1['training (mcares) score']=data1['training (mcares) score'].fillna(data1['training (mcares) score'].mean())
data1['role change in 3 years']=data1['role change in 3 years'].fillna('Yes')
data1[' award counts in 3 years']=data1[' award counts in 3 years'].fillna(data1[' award counts in 3 years'].mean())
data1['ctc hike']=data1['ctc hike'].fillna(data1['ctc hike'].mean())
data1['reporting level']=data1['reporting level'].fillna('nan')
data1['leave availed']=data1['leave availed'].fillna(data1['leave availed'].mean())
data1['current rating score']=data1['current rating score'].fillna(3)
data1['previous rating score']=data1['previous rating score'].fillna(3)
data1['reporting level']=data1['reporting level'].fillna('nan')
data1['leave availed']=data1['leave availed'].fillna(data1['leave availed'].mean())
data1['current rating score']=data1['current rating score'].fillna(3)
data1['previous rating score']=data1['previous rating score'].fillna(3)
data1['time since last promotion']=data1['time since last promotion'].fillna(data1['time since last promotion'].mean())
data1['timeinlevel app']=data1['timeinlevel app'].fillna(3)
data1['work home location']=data1['work home location'].fillna('na')
data1['generation']=data1['generation'].fillna('nan')
data1['rating change']=data1['rating change'].fillna('nan')
data1['ctc marketmedian']=data1['ctc marketmedian'].fillna('')

<ipython-input-10-479147af423a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['attrition']=data1['attrition'].fillna(0)
<ipython-input-10-479147af423a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['performance pay score']=data1['performance pay score'].fillna(data1['performance pay score'].mean())
<ipython-input-10-479147af423a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['leave quota']=data1['leave quota'].fillna(data1['leave quota'].mean())
<ipython-input-10-479147af423a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['eps']=data1['eps'].fillna(data1['eps'].mean())
<ipython-input-10-479147af423a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['esi']=data1['esi'].fillna(data1['esi'].mean())
<ipython-input-10-479147af423a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['alignment score']=data1['alignment score'].fillna(data1['alignment score'].mean())
<ipython-input-10-479147af423a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['career score']=data1['career score'].fillna(data1['career score'].mean())
<ipython-input-10-479147af423a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['recognition score']=data1['recognition score'].fillna(data1['recognition score'].mean())
<ipython-input-10-479147af423a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['empowerment score']=data1['empowerment score'].fillna(data1['empowerment score'].mean())
<ipython-input-10-479147af423a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['strive score']=data1['strive score'].fillna(data1['strive score'].mean())
<ipython-input-10-479147af423a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['rise score']=data1['rise score'].fillna(data1['rise score'].mean())
<ipython-input-10-479147af423a>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['crusade score']=data1['crusade score'].fillna(data1['crusade score'].mean())
<ipython-input-10-479147af423a>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['simplicity score']=data1['simplicity score'].fillna(data1['simplicity score'].mean())
<ipython-input-10-479147af423a>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['collaboration score']=data1['collaboration score'].fillna(data1['collaboration score'].mean())
<ipython-input-10-479147af423a>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['training (mcares) score']=data1['training (mcares) score'].fillna(data1['training (mcares) score'].mean())
<ipython-input-10-479147af423a>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['role change in 3 years']=data1['role change in 3 years'].fillna('Yes')
<ipython-input-10-479147af423a>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1[' award counts in 3 years']=data1[' award counts in 3 years'].fillna(data1[' award counts in 3 years'].mean())
<ipython-input-10-479147af423a>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['ctc hike']=data1['ctc hike'].fillna(data1['ctc hike'].mean())
<ipython-input-10-479147af423a>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['reporting level']=data1['reporting level'].fillna('nan')
<ipython-input-10-479147af423a>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['leave availed']=data1['leave availed'].fillna(data1['leave availed'].mean())
<ipython-input-10-479147af423a>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['current rating score']=data1['current rating score'].fillna(3)
<ipython-input-10-479147af423a>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['previous rating score']=data1['previous rating score'].fillna(3)
<ipython-input-10-479147af423a>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['reporting level']=data1['reporting level'].fillna('nan')
<ipython-input-10-479147af423a>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['leave availed']=data1['leave availed'].fillna(data1['leave availed'].mean())
<ipython-input-10-479147af423a>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['current rating score']=data1['current rating score'].fillna(3)
<ipython-input-10-479147af423a>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['previous rating score']=data1['previous rating score'].fillna(3)
<ipython-input-10-479147af423a>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['time since last promotion']=data1['time since last promotion'].fillna(data1['time since last promotion'].mean())
<ipython-input-10-479147af423a>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['timeinlevel app']=data1['timeinlevel app'].fillna(3)
<ipython-input-10-479147af423a>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['work home location']=data1['work home location'].fillna('na')
<ipython-input-10-479147af423a>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['generation']=data1['generation'].fillna('nan')
<ipython-input-10-479147af423a>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['rating change']=data1['rating change'].fillna('nan')
<ipython-input-10-479147af423a>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['ctc marketmedian']=data1['ctc marketmedian'].fillna('')

# Applying one hot encoding to categorical variables

In [80]:
categorical=data1[['role change in 3 years','reporting level','generation','rating change','work home location']]

In [81]:
dummie=pd.get_dummies(categorical, drop_first=True)

In [82]:
dummie=pd.concat([dummie,fresherdummies],axis=1)
dummie=dummie.reset_index()
dummie

,index,role change in 3 years_Yes,reporting level_2 above,reporting level_nan,reporting level_same level,generation_generation x,generation_millenials,generation_nan,rating change_improved,rating change_nan,rating change_static,work home location_na,work home location_same,0.0,1.0
0,0,1,1,0,0,0,1,0,0,1,0,1,0,1,0
1,2,1,0,0,1,0,1,0,0,1,0,1,0,1,0
2,3,1,0,0,1,0,1,0,0,1,0,1,0,1,0
3,5,1,1,0,0,0,1,0,0,0,1,0,0,1,0
4,6,1,1,0,0,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61831,128554,1,0,1,0,0,1,0,0,1,0,1,0,1,0
61832,128556,1,1,0,0,0,0,1,0,1,0,1,0,1,0
61833,128559,1,0,1,0,0,0,1,0,1,0,0,1,1,0
61834,128561,1,0,1,0,0,0,1,0,0,1,0,1,1,0
61835,128572,1,1,0,0,0,1,0,0,1,0,1,0,1,0

In [16]:
continues =[features for features in data1.columns if data1[features].dtype!='O']
continues =data1[continues]
continues=continues.drop(['year'],axis=1)

In [69]:
continues

,performance pay score,volatility index,leave quota,eps,esi,career score,alignment score,recognition score,empowerment score,strive score,...,time since last promotion,timeinlevel app,ctc internal median,train cnt attended beh,train cnt attended fun,train cnt beh fun,attrreportees new,ind,fresher flag,attrition
0,143.880000,0.02,0.250000,8.579397,4.316234,4.166443,4.417203,4.233572,4.221121,4.094722,...,3.102149,3.0,0.88,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,111.230000,0.10,0.000000,8.579397,4.316234,4.166443,4.417203,4.233572,4.221121,4.094722,...,3.102149,3.0,0.98,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,101.570000,0.26,0.040000,8.579397,4.316234,4.166443,4.417203,4.233572,4.221121,4.094722,...,3.102149,3.0,0.96,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,128.320000,0.00,0.260000,8.000000,5.000000,5.000000,3.666667,3.666667,3.666667,1.000000,...,2.600000,0.6,1.26,0.0,7.0,7.0,0.0,1.0,0.0,0.0
6,113.810000,0.11,0.160000,8.579397,4.316234,4.166443,4.417203,4.233572,4.221121,4.094722,...,0.600000,0.1,1.27,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128554,0.000000,0.00,0.527978,8.579397,4.316234,4.166443,4.417203,4.233572,4.221121,4.094722,...,3.102149,3.0,0.00,0.0,0.0,0.0,0.0,1.0,0.0,0.0
128556,109.511091,0.06,0.527978,8.579397,4.316234,4.166443,4.417203,4.233572,4.221121,4.094722,...,3.102149,3.0,0.48,0.0,0.0,0.0,0.0,1.0,0.0,0.0
128559,0.000000,0.33,0.080000,8.579397,4.316234,4.166443,4.417203,4.233572,4.221121,4.094722,...,3.102149,3.0,1.19,0.0,0.0,0.0,0.0,1.0,0.0,0.0
128561,111.840000,0.30,0.920000,10.000000,4.000000,4.000000,4.200000,4.000000,4.000000,4.250000,...,3.102149,3.0,0.84,2.0,0.0,2.0,1.0,1.0,0.0,0.0
128572,0.000000,0.25,0.090000,8.579397,4.316234,4.166443,4.417203,4.233572,4.221121,4.094722,...,3.102149,3.0,0.79,0.0,0.0,0.0,0.0,1.0,0.0,0.0

# applying one MinMaxScaling for continues variables

In [83]:
from sklearn.preprocessing import MinMaxScaler

In [84]:
scaling=MinMaxScaler()
minscaling=scaling.fit_transform(continues)
type(minscaling)

numpy.ndarray

In [85]:
continous=pd.DataFrame(minscaling)
continous

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,0.846353,0.006667,0.011364,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.255814,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
1,0.654294,0.033333,0.000000,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.284884,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
2,0.597471,0.086667,0.001818,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.279070,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
3,0.754824,0.000000,0.011818,0.80000,1.000000,1.000000,0.733333,0.733333,0.733333,0.200000,...,0.255319,0.200000,0.366279,0.000000,0.411765,0.35,0.000000,0.0,0.0,0.0
4,0.669471,0.036667,0.007273,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.042553,0.033333,0.369186,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61831,0.000000,0.000000,0.023999,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
61832,0.644183,0.020000,0.023999,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.139535,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
61833,0.000000,0.110000,0.003636,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.345930,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
61834,0.657882,0.100000,0.041818,1.00000,0.800000,0.800000,0.840000,0.800000,0.800000,0.850000,...,0.308739,1.000000,0.244186,0.285714,0.000000,0.10,0.027027,0.0,0.0,0.0
61835,0.000000,0.083333,0.004091,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.229651,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0

In [86]:
continous.columns=['performance pay score', 'volatility index', 'leave quota', 'eps',
       'esi', 'career score', 'alignment score', 'recognition score',
       'empowerment score', 'strive score', 'rise score', 'crusade score',
       'simplicity score', 'collaboration score', 'training (mcares) score',
       ' award counts in 3 years', 'leave availed', 'ctc til app',
       'm&m tenure', 'scaled travel', 'award count_x', 'ctc hike',
       'current rating score', 'previous rating score',
       'budget utilization percentage', 'time since last promotion',
       'timeinlevel app', 'ctc internal median', 'train cnt attended beh',
       'train cnt attended fun', 'train cnt beh fun', 'attrreportees new',
       'ind', 'fresher flag','attrition']

In [74]:
continous

,performance pay score,volatility index,leave quota,eps,esi,career score,alignment score,recognition score,empowerment score,strive score,...,time since last promotion,timeinlevel app,ctc internal median,train cnt attended beh,train cnt attended fun,train cnt beh fun,attrreportees new,ind,fresher flag,attrition
0,0.846353,0.006667,0.011364,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.255814,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
1,0.654294,0.033333,0.000000,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.284884,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
2,0.597471,0.086667,0.001818,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.279070,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
3,0.754824,0.000000,0.011818,0.80000,1.000000,1.000000,0.733333,0.733333,0.733333,0.200000,...,0.255319,0.200000,0.366279,0.000000,0.411765,0.35,0.000000,0.0,0.0,0.0
4,0.669471,0.036667,0.007273,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.042553,0.033333,0.369186,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61831,0.000000,0.000000,0.023999,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
61832,0.644183,0.020000,0.023999,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.139535,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
61833,0.000000,0.110000,0.003636,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.345930,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0
61834,0.657882,0.100000,0.041818,1.00000,0.800000,0.800000,0.840000,0.800000,0.800000,0.850000,...,0.308739,1.000000,0.244186,0.285714,0.000000,0.10,0.027027,0.0,0.0,0.0
61835,0.000000,0.083333,0.004091,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0.308739,1.000000,0.229651,0.000000,0.000000,0.00,0.000000,0.0,0.0,0.0

In [23]:
continous['attrition'].value_counts()

0.0    56055
1.0     5781
Name: attrition, dtype: int64

# Final dataset

In [87]:
finalDataset=pd.concat([continous,dummie],axis=1)

In [88]:
finalDataset

,performance pay score,volatility index,leave quota,eps,esi,career score,alignment score,recognition score,empowerment score,strive score,...,generation_generation x,generation_millenials,generation_nan,rating change_improved,rating change_nan,rating change_static,work home location_na,work home location_same,0.0,1.0
0,0.846353,0.006667,0.011364,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0,1,0,0,1,0,1,0,1,0
1,0.654294,0.033333,0.000000,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0,1,0,0,1,0,1,0,1,0
2,0.597471,0.086667,0.001818,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0,1,0,0,1,0,1,0,1,0
3,0.754824,0.000000,0.011818,0.80000,1.000000,1.000000,0.733333,0.733333,0.733333,0.200000,...,0,1,0,0,0,1,0,0,1,0
4,0.669471,0.036667,0.007273,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61831,0.000000,0.000000,0.023999,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0,1,0,0,1,0,1,0,1,0
61832,0.644183,0.020000,0.023999,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0,0,1,0,1,0,1,0,1,0
61833,0.000000,0.110000,0.003636,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0,0,1,0,1,0,0,1,1,0
61834,0.657882,0.100000,0.041818,1.00000,0.800000,0.800000,0.840000,0.800000,0.800000,0.850000,...,0,0,1,0,0,1,0,1,1,0
61835,0.000000,0.083333,0.004091,0.85794,0.863247,0.833289,0.883441,0.846714,0.844224,0.818944,...,0,1,0,0,1,0,1,0,1,0

# Performing over sampling

In [89]:
from imblearn.under_sampling import RandomUnderSampler 
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE

In [91]:
x=finalDataset.drop(['attrition','award count_x','budget utilization percentage','fresher flag','index',],axis=1)
y=finalDataset['attrition']

In [92]:
 #Apply the random under-sampling 
rus = RandomUnderSampler()
X_RUS, y_RUS = rus.fit_resample(x, y)

In [93]:
from sklearn.linear_model import LogisticRegression
lr1 = LogisticRegression(solver='liblinear')
lr1.fit(X_RUS, y_RUS)

LogisticRegression(solver='liblinear')

In [94]:
list1 = lr1.coef_.tolist()
len(list1[0])

45

In [95]:
weight4=pd.DataFrame({'varibles':X_RUS.columns,'coeff':list1[0]})
weight4.sort_values(by='coeff',inplace=True)

In [97]:
weight4.to_csv('finalvariable.csv')

# Logistic Regression

In [98]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X_RUS, y_RUS,test_size = 0.3,random_state = 1)

In [99]:
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection
from sklearn import metrics

In [100]:
from sklearn.linear_model import LogisticRegression
lr1 = LogisticRegression(solver='liblinear')
lr1.fit(x_train,y_train)

LogisticRegression(solver='liblinear')

In [101]:
prediction = lr1.predict(x_test)

In [102]:
from sklearn.metrics import classification_report
classification_report(y_test,prediction)

'              precision    recall  f1-score   support\n\n         0.0       0.95      0.87      0.91      1782\n         1.0       0.87      0.95      0.91      1687\n\n    accuracy                           0.91      3469\n   macro avg       0.91      0.91      0.91      3469\nweighted avg       0.91      0.91      0.91      3469\n'

In [103]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,prediction)

array([[1545,  237],
       [  87, 1600]], dtype=int64)

In [104]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,prediction)

0.9066013260305563